body{
    background-image: url("imagenes/fondo.jpg");
    margin: 0;
}
#menu{
    background-color: rgba(255,255,255,0.8);
    list-style: none;
    margin: 0;
    padding: 0;
}
#menu li{
    display: inline;
}

#menu li a{
    display: inline-flex;;
    /*padding: 10px 15px;*/
    height: 50px;
    width: 90px;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    text-decoration: none;
    color:black;
}
#menu li #inicio{
    width:auto;
    color:red;
}
#menu li a:hover{
    background-color: rgba(190,190,190,0.8);
    color:red;
}
#menu li #inicio:hover{
    background-color: rgba(255,255,255,0);
}
#menu #secciones{
    float:right;
}
